<div class="gallery-art-grid">

    <div class="gallery-art-grid__mask">
        <h1 class="gallery-art-grid__mask-text">Coming Soon</h1>
    </div>

    <a href="#" class="gallery-art-grid__item gallery-art-grid__item--1">
        <h5 class="image-heading">Watercolour</h5>
    </a>
    <a href="#" class="gallery-art-grid__item gallery-art-grid__item--2">
        <h5 class="image-heading">Silk</h5>
    </a>
    <a href="#" class="gallery-art-grid__item gallery-art-grid__item--3">
        <h5 class="image-heading">Ink</h5>
    </a>
    <a href="#" class="gallery-art-grid__item gallery-art-grid__item--4">
        <h5 class="image-heading">Misc.</h5>
    </a>
</div>