<header class="header header-container">
    <div class="header-content">
        <div class="header-content-left">
            <h2 class="header-heading">byMaryAlice</h2>
        </div>

        <div class="header-content-right">
            <a href="#" class="header-button">Go To Store</a>
        </div>

    </div>
</header>