<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>byMaryAlice</title>

    <script src="/js/nice-loading.js"></script>
    <script src="/js/page-scrolling.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Playfair+Display&family=Roboto:ital,wght@0,300;0,400;1,400&family=Source+Sans+Pro:wght@300;400;600&display=swap"
        rel="stylesheet">
</head>

<body onload="revealPages()">
    {{{body}}}
</body>

</html>